.block-roadmap {
	@extend %NormalTransition;
	--outline-size: 2px;
	position: relative;
	border-radius: 15px;
	padding: 25px 20px 33px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: inherit;
		background: linear-gradient(
				-135deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
	}

	&:after {
		@extend %NormalTransition;
		content: '';
		position: absolute;
		top: var(--outline-size);
		right: var(--outline-size);
		left: var(--outline-size);
		bottom: var(--outline-size);
		background: #232740 url(../images/patterns/noise.png) repeat;
		border-radius: inherit;
	}

	.block-content {
		position: relative;
		z-index: 2;
	}

	&:hover {
		transform: translateY(-10px);

		&:after {
			background-color: #1d213a;
		}
	}
}

.roadmap-title {
	font-size: 32px;
	font-weight: 600;
	color: $primary-color;
	text-shadow: 0 4px 20px rgba(255, 255, 255, .25);
	margin: 0 0 21px;
}

.roadmap-list {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	color: #fff;

	li {
		list-style-type: none;
		position: relative;
		padding: 0 0 0 26px;

		&:before {
			content: '';
			position: absolute;
			top: 6px;
			left: 0;
			background: url(../images/icons/ArrowRight.svg);
			width: 18px;
			height: 18px;
		}

		&.item-check {
			&:before {
				background: url(../images/icons/Check.svg);
			}
		}

		+ li {
			margin: 8px 0 0
		}
	}
}

.page-roadmap {
	.section-roadmap {
		background: url(../images/section-coming-bg.png) no-repeat bottom 36px center;
		background-size: 100% auto;
		padding: 0 0 120px;

		.section-header {
			margin: 0 0 145px;
		}
	}
}

.section-shape-circle-logo {
	right: 15%;
	top: 18%;

	.main-image {
		img {
			width: 98px;
			max-width: 12vw;
		}
	}

	.section-shape-blur {
		width: 397%;

		> img {
			transform: translate(0, -12%);
		}
	}

	.section-shape-01 {
		bottom: 16%;
		left: 0;

		img {
			transform: translate(-50%, 0);
			width: 70px;
			max-width: 7vw;
		}
	}

	.section-shape-02 {
		right: 15%;
		top: -15%;

		img {
			width: 110px;
			max-width: 8vw;
		}
	}

	.section-shape-03 {
		right: 0;
		bottom: 0;

		img {
			width: 125px;
			max-width: 7vw;
		}
	}
}

.row-roadmap {
	align-items: flex-start;
}

.roadmap-has-arrow {
	&:before {
		content: '';
		width: 165px;
		height: 47px;
		background: url(../images/roadmap-arrow.png) no-repeat bottom right;
		position: absolute;
		z-index: -1;
	}
}

.roadmap-arrow-top-center {
	&:before {
		bottom: 100%;
		right: 50%;
		transform: translate(6px, 0);
	}
}

.roadmap-arrow-top-right {
	&:before {
		bottom: 100%;
		left: 100%;
		width: 164px;
		height: 100px;
		transform: translate(-15px, 45px);
		background: url(../images/arrow-top-right.png) no-repeat bottom left;
	}
}

.roadmap-arrow-bottom-right {
	&:before {
		bottom: 0;
		left: 100%;
		width: 164px;
		height: 58px;
		transform: translate(-15px, -40px);
		background: url(../images/roadmap-arrow-left.png) no-repeat bottom left;
	}
}

.roadmap-arrow-bottom-center {
	&:before {
		top: 100%;
		left: 50%;
		transform: translate(-6px, 0) scale(-1, -1);
	}
}

@include media-breakpoint-up(lg) {
	.col-roadmap-q122 {
		margin-top: 120px;
	}

	.col-roadmap-q222 {
		margin-top: 210px;
	}

	.col-roadmap-q322 {
		margin-top: 300px;
	}

	.col-roadmap-q123 {
		margin-top: 90px;
		order: -98;
	}

	.col-roadmap-q223 {
		margin-top: 180px;
		order: -99;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.roadmap-title {
		font-size: 24px;
	}

	.roadmap-list {
		font-size: 16px;
		line-height: 24px;

		li:before {
			top: 3px;
		}
	}

	.col-roadmap-q322 {
		margin-top: 400px;
	}
}

@media screen and (min-width: 992px) {
	.row-roadmap + .row-roadmap {
		margin-top: 15px;
	}
}

@include media-breakpoint-down(md) {
	.page-roadmap {
		.section-roadmap {
			padding: 0 0 60px;
		}
	}

	.roadmap-title {
		font-size: 24px;
	}

	.section-shape-circle-logo {
		top: 8%;
		right: 10%;

		.main-image {
			img {
				width: 60px;
			}
		}
	}

	.row-roadmap {
		[class*='col-roadmap'] {
			margin-bottom: 32px;

			&:before {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.page-roadmap {
		.section-roadmap {
			padding: 0;
		}
	}

	.section-roadmap {
		.section-header-inner {
			max-width: 470px;
		}

		.section-body {
			max-width: 470px;
			margin: 0 auto;
		}
	}

	.roadmap-title {
		font-size: 20px;
	}

	.section-shape-circle-logo {
		top: 8%;
		right: 12%;

		.main-image {
			img {
				width: 36px;
			}
		}
	}

	.roadmap-list {
		font-size: 16px;
		line-height: 26px;
	}
}
