.page-security {
    .section-security {
        padding: 142px 0 60px;
        margin: 0;
        background: linear-gradient(180deg, #004BFF 0%, #4CEAAC 100%);

        .section-header {
            text-align: center;
        }

        .section-description {
            margin: 20px auto 0;
            color: #fff;
        }
    }
}

@include media-breakpoint-up(lg) {
    .page-security {
        .section-security {
            padding: 200px 0 120px;
        }
    }
}
