:root {
	--font-primary: 'Space Grotesk', sans-serif;
	--color-primary: #66e1b6;
	--color-secondary: #004bff;
}

.row {
	--bs-gutter-x: 30px;
}

.row-flex {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.row-flex .col-grow,
.row-flex .col-shrink {
	padding-left: 15px;
	padding-right: 15px;
}

.row-flex .col-grow {
	flex-grow: 1;
}

.row-flex .col-shrink {
	flex-shrink: 0;
}

.row-middle {
	align-items: center;
}

.row-narrow-gutter {
	margin-left: -10px;
	margin-right: -10px;
}

.row-narrow-gutter > [class*=col-] {
	padding-left: 10px;
	padding-right: 10px;
}

.container,
.container-fluid,
.container-wide,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.container-wide {
	width: 100%;
	max-width: 1440px;
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1200px !important;
	}

	.container-fluid {
		padding-left: 50px;
		padding-right: 50px;
	}
}

@media (min-width: 1400px) {
	.container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media screen and (max-width: 575px) {
	.col-xs-6 {
		width: 50%;
	}
}

.mb-30 {
	margin-bottom: 30px;
}

.position-relative {
	position: relative;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-group {
	display: inline-block;
	position: relative;
}

.image-group .main-image {
	position: relative;
	z-index: 99;
}

.row-xs-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

@keyframes move-vertical {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	25% {
		-webkit-transform: translate(0, 10px);
		transform: translate(0, 10px);
	}
	50% {
		-webkit-transform: translate(0, 5px);
		transform: translate(0, 5px);
	}
	75% {
		-webkit-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes move-vertical-reversed {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	25% {
		-webkit-transform: translate(0, -10px);
		transform: translate(0, -10px);
	}
	50% {
		-webkit-transform: translate(0, -5px);
		transform: translate(0, -5px);
	}
	75% {
		-webkit-transform: translate(0, 5px);
		transform: translate(0, 5px);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes move-vertical-2 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	25% {
		-webkit-transform: translate(0, 10px) rotate(5deg) skew(25deg);
		transform: translate(0, 10px) rotate(5deg) skew(25deg);

	}
	50% {
		-webkit-transform: translate(0, 5px) rotate(0deg) skew(0deg);
		transform: translate(0, 5px) rotate(0deg) skew(0deg);
	}
	75% {
		-webkit-transform: translate(0, -5px) rotate(-5deg) skew(-25deg);
		transform: translate(0, -5px) rotate(-5deg) skew(-25deg);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

.move-vertical {
	-webkit-animation: move-vertical 5s linear infinite;
	animation: move-vertical 5s linear infinite;
}

.move-vertical-reversed {
	-webkit-animation: move-vertical-reversed 5s linear infinite;
	animation: move-vertical-reversed 5s linear infinite;
}

.move-vertical-2 {
	-webkit-animation: move-vertical-2 5s linear infinite;
	animation: move-vertical-2 5s linear infinite;
}

body {
	background: #020722;
	color: rgba(255, 255, 255, .8);
	font-family: var(--font-primary);
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	color: #fff;
	text-shadow: 0 4px 20px rgba(255, 255, 255, 0.25);
}

img {
	height: auto;
	max-width: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
}

a:hover {
	cursor: pointer;
}

a:hover,
a:focus {
	color: #fff;
	text-decoration: none;
}

mark {
	background: none;
	color: var(--color-primary);
	padding: 0;
}

label[for] {
	cursor: pointer;
}

::-webkit-input-placeholder {
	color: #a39dab;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a39dab;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a39dab;
}

:-ms-input-placeholder {
	color: #a39dab;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'] {
	width: 100%;
	padding: 3px 15px;
	min-height: 48px;
	outline: none;
	font-size: 18px;
	font-weight: 600;
	color: #a8adc3;
	background-color: #1b2039;
	border: 1px solid #1b2039;
	border-radius: 5px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='number']:focus,
input[type='tel']:focus {
	color: #fff;
}

select {
	width: 100%;
	max-width: 100%;
	padding: 3px 25px 3px 15px;
	min-height: 48px;
	outline: none;
	background: #1b2039 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB0SURBVHgB7Y67DYAgEEDPzwCOwgpOYGdjb+089DQ2hglcwVEYQEQoiAlwnAktL7nkmvfuACrFNH4R/GBPd09/pFYbuazz5fY+6G0AZiB8ZUdGH3xf6DMTUfb66K9HASISyckAEknKaCCIACaTuIjgO4NKlhfsgTtiP+Hj/wAAAABJRU5ErkJggg==) no-repeat;
	background-position: center right 15px;
	background-size: 16px auto;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: 18px;
	font-weight: 600;
	color: #a8adc3;
	border: 1px solid #1b2039;
	border-radius: 5px;
}

select:focus {
	color: #fff;
}

textarea {
	width: 100%;
	outline: none;
	display: block;
	padding: 12px 15px;
	max-width: 100%;
	font-size: 18px;
	font-weight: 600;
	color: #a8adc3;
	background-color: #1b2039;
	border: 1px solid #1b2039;
	border-radius: 5px;
}

textarea:focus {
	color: #fff;
	border-color: #fff;
	background-color: #311b57;
}

input[type='checkbox'] {
	position: relative;
	background: transparent;
	border-width: 0;
	box-shadow: none;
	margin: 0 10px 0 4px;
	cursor: pointer;
}

input[type='checkbox']:after,
input[type='radio']:after {
	-webkit-transition: all .3s;
	transition: all .3s;
}

input[type='checkbox']:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #1b2039;
	border: 1px solid rgba(145, 150, 171, 0.4);
	border-radius: 3px;
}

input[type='checkbox']:after {
	content: '';
	font-size: 15px;
	color: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%) scale(0);
	width: 20px;
	height: 20px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABhSURBVHgB7Y7RCUAhCEX9eAM0QqO8jR2hUVqhDczAj4iEsqAfD1wi8R4EcBwVIooc5IR+/oGBJuMnybcJC1iRy7IkrhSCtrgtkxLOCiaZVjTLFOl/JJtI6Vg2SPGKzHlHBTO3mft08PI9AAAAAElFTkSuQmCC);
}

input[type='checkbox']:hover:before {
	border-color: #fff;
}

input[type='checkbox']:checked:before {
	background: var(--color-secondary);
	border-color: transparent;
}

input[type='checkbox']:checked:after {
	transform: translate(-50%, -50%) scale(1);
}

input[type='radio'] {
	position: relative;
	padding: 5px;
	margin: 0 10px 0 4px;
	cursor: pointer;
}

input[type='radio']:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #1b2039;
	border: 1px solid rgba(145, 150, 171, 0.4);
	border-radius: 50%;
	transition: border-color .3s ease;
}

input[type='radio']:after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform .3s ease;
}

input[type='radio']:hover:before {
	border-color: #fff;
}

input[type='radio']:checked {
	cursor: auto;
}

input[type='radio']:checked:before {
	background: var(--color-secondary);
	border-color: transparent;
}

input[type='radio']:checked:after {
	transform: translate(-50%, -50%) scale(1);
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
	--button-color: #fff;
	--button-border: var(--color-secondary);
	--button-background: var(--color-secondary);
	--button-hover-color: #fff;
	--button-hover-background: var(--color-secondary);
	--button-image-size: 20px;
	--button-icon-spacing: 12px;
	--button-height: 48px;
	transition: all .3s linear;
	padding: 0 25px;
	height: var(--button-height);
	line-height: var(--button-height);
	outline: none !important;
	color: var(--button-color);
	border: 0 solid var(--button-border);
	background-color: var(--button-background);
	border-radius: 5px;
	font-family: var(--font-primary);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0;
	text-transform: none;
	cursor: pointer;
	text-align: center;
	user-select: none;
	box-shadow: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
.button:hover {
	color: var(--button-hover-color);
	background-color: var(--button-hover-background);
	box-shadow: 0 0 0 0.2rem var(--button-hover-background);
}

button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled],
.button[disabled] {
	cursor: not-allowed;
	opacity: .5;
}

.button .button-icon {
	line-height: 1;
	margin: 0 var(--button-icon-spacing) 0 0;
}

.button .button-icon img {
	width: var(--button-image-size);
}

.button-size-lg {
	--button-image-size: 32px;
	--button-height: 64px;
	font-size: 20px;
	font-weight: 500;
	padding: 0 26px;
}

.button-skin-light {
	--button-color: var(--color-primary);
	--button-background: #262d51;
}

/* Slick controls */
.slider-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 39px;
}

.slider-controls button {
	background: none;
	border: none;
	box-shadow: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.slider-controls .slick-arrow {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	border: 2px solid rgba(255, 255, 255, 0.33);
}

.slider-controls .slick-arrow:hover {
	border-color: #fff;
}

.slider-controls .slick-next {
	order: 2;
}

.slick-dots {
	display: flex;
	align-items: center;
	margin: 0 20px;
	padding: 0;
}

.slick-dots li {
	list-style: none;
	display: inherit;
}

.slick-dots button {
	font-size: 0;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.3);
	transition: .3s all;
	border-radius: 50%;
	margin: 0 10px;
	position: relative;
}

.slick-dots button:after {
	content: '';
	border: 1px solid #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	transition: .3s all;
	opacity: 0;
	pointer-events: none;
}

.slick-dots li.slick-active button {
	background: #fff;
}

/* Override Modal style */
.modal-backdrop {
	background: #120626;
}

.modal-backdrop.show {
	opacity: 0.7;
}

.modal-content {
	color: #a39dab;
	background-color: #180a2e;
	border: 2px solid #82eece;
	border-radius: 10px;
	box-shadow: 0px 4px 34px rgba(130, 238, 206, 0.31);
}

.modal-header {
	justify-content: center;
	text-align: center;
	border: 0;
	padding: 45px 15px 0;
}

.modal-title {
	display: inline-block;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	text-transform: uppercase;
	background: linear-gradient(
		-190deg, #2daa01 20%, #fbcb60 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-filter: drop-shadow(0 4px 6px rgba(76, 228, 22, 0.4));
	filter: drop-shadow(0 4px 6px rgba(76, 228, 22, 0.4));
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #cdd68d;
	margin: 0;
}

.modal .close {
	position: absolute;
	top: 2px;
	right: 2px;
	width: 40px;
	height: 40px;
	background: transparent url(./images/svg/times.svg) no-repeat center;
	background-size: 24px;
	border: 0;
	outline: 0;
	box-shadow: none;
}

.modal-body {
	font-size: 14px;
	line-height: 21px;
	padding: 38px 15px 46px;
	text-align: center;
	max-width: 100%;
}

.modal-heading {
	font-weight: 400;
	font-size: 13px;
	line-height: 26px;
	color: #82eece;
	margin: 0 0 18px;
}

.modal-buttons {
	margin: 32px 0 0;
	justify-content: center;
}

.modal-buttons .button-wrap {
	margin: 10px 10px 0;
}

/* Override Form Style */
.form-input {
	margin: 0 0 15px;
}

.form-input label {
	font-size: 16px;
	font-weight: 500;
	line-height: 26px;
	color: #a39dab;
	margin: 0 0 7px;
}

.form-control:focus {
	box-shadow: none;
}

/* Override Dropdown Menu */
.dropdown-menu {
	background: #2a0f44;
	border: 2px solid #82eece;
	box-shadow: 0 4px 34px rgba(130, 238, 206, 0.31);
	border-radius: 10px;
	color: #a39dab;
	min-width: 16rem;
	padding: 13px 0;
}

.dropdown-item {
	font-size: 16px;
	font-weight: 500;
	color: #a39dab;
	padding: 7px 20px;
	display: flex;
	align-items: center;
}

.dropdown-item-icon {
	min-width: 24px;
	font-size: 18px;
	margin: 0 3px 0 0;
}

.dropdown-item-icon svg {
	width: 1em;
	height: 1em;
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: #fff;
	background: #311b57;
}

/* Override Jquery UI style */
.ui-widget-content {
	color: #fff;
	background: #311b57;
	margin: 0 15px;
}

.ui-widget.ui-widget-content {
	border-color: #311b57;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 7px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 7px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 7px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 7px;
}

.ui-slider-horizontal {
	height: 12px;
}

.ui-slider-range {
	background: #5824bb;
}

.ui-widget-content:before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -16px;
	right: -16px;
	height: 12px;
	background: #311b57;
	border-radius: 7px;
}

.ui-slider .ui-slider-handle {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	border: 0;
	background: #82eece;
	box-shadow: 0 0 14px rgba(130, 238, 206, 0.54);
	outline: 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -10px;
	margin-left: -16px;
}

.header {
	transition: all .3s linear;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.header-pinned {
	background: #020722;
}

.header.header-pinned .header-inner {
	padding: 10px 0;
}

.site-branding img {
	width: 178px;
}

.header .header-inner {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.header-left,
.header-right {
	display: flex;
	align-items: center;
	flex: 1 1 0px;
}

.header-right {
	justify-content: flex-end;
}

.header-center {
	flex-shrink: 0;
}

.primary-menu .nav-link {
	position: relative;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	padding: 10px 15px;
	color: #fff;
}

.primary-menu .nav-link .nav-text {
	position: relative;
	display: block;
}

.primary-menu .nav-link .nav-text:after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	left: auto;
	right: 0;
	bottom: 0;
	transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
	background: var(--color-primary);
}

.primary-menu .nav-link:hover .nav-text:after {
	width: 100%;
	left: 0;
	right: auto;
}

.social-list .inner {
	display: flex;
	align-items: center;
}

.social-list .icon-wallet {
	display: block;
	background-color: currentColor;
	-webkit-mask-image: url(images/icons/wallet.png);
	mask-image: url(images/icons/wallet.png);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
}

.social-list a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-social-networks {
	margin: 0 20px 0 0;
}

.header-social-link {
	width: 36px;
	height: 36px;
}

.header-social-link * {
	width: 20px;
	height: 20px;
}

.header-social-link svg *[fill] {
	fill: currentColor;
}

.header-social-link:hover {
	color: var(--color-primary);
}

.header-button {
	min-width: 178px;
	padding: 0 10px;
}

.main-content {
	overflow: hidden;
}

/**
 * Svg Icon
 */
.svg-icon {
	line-height: 1;
	display: inline-block;
}

.svg-icon svg {
	vertical-align: -0.125em;
	width: 1em;
	height: 1em;
	display: inline-block;
}

.svg-icon svg *[stroke^="#"],
.svg-icon svg *[stroke^="url(#"] {
	stroke: currentColor;
}

.svg-icon svg *[fill^="#"],
.svg-icon svg *[fill^="url(#"] {
	fill: currentColor;
}

.image-frame {
	--outline-size: -2px;
	display: inline-flex;
	position: relative;
	border-radius: 12px;
}

.image-frame img {
	position: relative;
	z-index: 1;
	border-radius: inherit;
}

.image-frame:before {
	content: '';
	position: absolute;
	top: var(--outline-size);
	right: var(--outline-size);
	bottom: var(--outline-size);
	left: var(--outline-size);
	border-radius: inherit;
	background: linear-gradient(
		-135deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
	box-shadow: 0 4px 59px rgba(144, 255, 44, .25);
}

.image-frame-02:before {
	background: linear-gradient(
		-45deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
	box-shadow: -10px -26px 44px rgba(144, 255, 44, .15);
}

.section {
	position: relative;
}

.section-content {
	position: relative;
	z-index: 1;
}

.section-shapes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
}

.section-shape {
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.section-effect-snow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	overflow: hidden;
}

.section-title {
	font-size: 48px;
	line-height: 1.17;
	margin: 0;
}

.section-body {
	margin: 90px 0 0;
}

.section-description-wrap {
	margin: 29px 0 0;
}

.section-description {
	font-size: 20px;
	line-height: 1.6;
	color: #a8adc3;
	margin: 0;
}

.section-header {
	text-align: center;
}

.section-header .section-description {
	width: 795px;
	max-width: 90%;
	margin: 0 auto;
}

.section-header-beside {
	max-width: 650px;
}

.section-header-beside .section-description-wrap {
	margin: 23px 0 0;
}

.section-header-beside .button {
	margin: 46px 0 0;
}

.block-content {
	position: relative;
	z-index: 2;
}

.block-gradient-frame {
	--outline-size: -2px;
	position: relative;
	border-radius: 15px;
}

.block-gradient-frame:before {
	content: '';
	position: absolute;
	top: var(--outline-size);
	right: var(--outline-size);
	bottom: var(--outline-size);
	left: var(--outline-size);
	border-radius: inherit;
	background: linear-gradient(
		-135deg, #397891 0%, rgba(255, 255, 255, 0.1) 53.57%, #42703d 100%);
	/*box-shadow: 0 4px 59px rgba(144, 255, 44, 0.25);*/
}

.hero-title {
	font-size: 5.208vw;
	font-weight: 700;
	line-height: .92;
	color: var(--color-primary);
	margin: 0 0 25px;
}

.hero-sub-title {
	font-size: 40px;
	margin: 0 0 18px;
}

.hero-description {
	font-size: 20px;
	line-height: 1.6;
	margin: 0 0 47px;
}

.section-hero {
	padding: 160px 0;
}

.hero-video {
	display: flex;
	justify-content: center;
}

.video-wrap {
	border-radius: 15px;
	background: linear-gradient(-135deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
	box-shadow: 0 4px 59px rgba(144, 255, 44, 0.25);
	padding: 3px;
}

.video-inner {
	overflow: hidden;
	border-radius: 15px;
}

.section-hero {
	background: url(./images/hero-bg.png) no-repeat center;
}

.section-hero-shape-1 {
	top: 25%;
	right: 7%;
}

.section-hero-shape-1 img {
	filter: drop-shadow(0 4px 33px rgba(66, 229, 141, 0.51));
}

.section-hero-shape-2 {
	bottom: 18%;
	left: 45%;
}

.parachain-block h5 {
	font-size: 40px;
	line-height: 1.3;
}

.lottie-player {
	position: relative;
	display: inline-block;
	line-height: 1;
}

.lottie-player:before {
	content: '';
	display: inline-block;
	width: 100%;
	padding-top: 100%;
}

.lottie-player lottie-player {
	position: absolute;
	top: 0;
	left: 0;
}

.parachain-block .lottie-player {
	width: 670px;
	max-width: 100%;
}

.section-try-it-now {
	padding: 100px 0 80px;
}

.section-try-it-now .section-body {
	margin: 72px auto 0;
	max-width: 930px;
}

.block-browser {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 0 30px;
}

.block-browser .button {
	--button-color: #a8adc3;
	--button-background: #1b2039;
	margin: 20px 0 0;
	min-width: 144px;
}

.section-monitor-shape-grid {
	bottom: 6%;
	right: -30%;
}

.section-monitor .section-description-wrap {
	margin: 23px 0 0;
}

.section-send-and-receive {
	padding: 140px 0 100px;
	background: url(images/send-and-receive-bg.png) no-repeat right center;
}

.section-send-and-receive .section-header-beside {
	max-width: 590px;
}

.image-send-and-receive-2 {
	margin: 155px 0 0;
}

.section-access-verify {
	padding: 100px 0;
	background: url(images/section-access-and-verify-bg.png) no-repeat left center;
}

.section-access-verify-shape-grid {
	right: 0;
	top: 50%;
	transform: translate(30%, -50%);
	max-width: 30vw;
}

.grant-and-access-shape-01 {
	left: 40%;
	bottom: 10%;
}

.grant-and-access-image-behind {
	width: 102%;
	top: -62px;
	left: -130px;
}

.nft-assets-image-shape-1 {
	top: -60px;
	left: -160px;
}

.nft-assets-image-shape-2 {
	bottom: -70px;
	right: -130px;
}

.nft-assets-image-blur {
	width: 280%;
	transform: translate(-55%, -50%);
}

.nft-assets-image-behind {
	width: 214%;
	transform: translate(-50%, -50%) translateY(-50px);
}

.section-portfolio-manage {
	background: url(images/section-portfolio-manage-bg.jpg) no-repeat bottom center;
	background-size: cover;
	padding: 62px 0 156px;
}

.section-portfolio-manage .section-body {
	max-width: 1046px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.portfolio-slider {
	--outline-size: -2px;
	border-radius: 15px;
}

.portfolio-slider:before {
	content: '';
	position: absolute;
	top: var(--outline-size);
	right: var(--outline-size);
	bottom: var(--outline-size);
	left: var(--outline-size);
	border-radius: inherit;
	background: linear-gradient(
		-135deg, #4a75ad 0%, rgba(43, 54, 28, 0) 53.57%, #42703d 100%);
	box-shadow: 0 4px 59px rgba(144, 255, 44, 0.25);
}

.portfolio-slider .slick-list {
	border-radius: inherit;
}

.section-nft-assets {
	padding: 72px 0 80px;
}

.nft-assets-shape-grid {
	left: 0;
	top: 50%;
	transform: translate(-20%, -50%);
}

.nft-assets-shape-grid img {
	max-width: 26vw;
}

.block-coming-soon .section-header {
	position: relative;
	z-index: 1;
	background: #1b2039;
	border-radius: 15px;
	max-width: 670px;
	margin: 0 auto;
	padding: 40px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 274px;
}

.block-coming-soon .section-description-wrap {
	margin: 21px 0 0;
}

.section-partners {
	padding: 135px 0 0;
}

.image-partner-shape-01 {
	top: -100px;
	left: -30px;
}

.image-partner-shape-02 {
	bottom: -80px;
	left: -30px;
}

.image-partner-shape-03 {
	bottom: -90px;
	right: -120px;
}

.partners-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 30px;
}

.partner-item {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 0;
}

.partner-item img {
	max-height: 120px;
}

.section-call-out-action {
	margin: 90px 0 0;
}

.section-call-out-action .button {
	padding: 0 45px;
}

.image-partner-blur {
	width: 245%;
	height: auto;
	max-width: none;
	max-height: none;
}

.section-roadmap {
	background: url(images/section-roadmap-bg.png) no-repeat bottom 36px center;
	background-size: 100% auto;
	padding: 100px 0 120px;
}

.section-roadmap .section-header {
	text-align: left;
}

.section-roadmap .section-body {
	margin: 71px 0 0;
}

.block-roadmap {
	position: relative;
	border-radius: 15px;
	padding: 23px 20px 39px;
}

.block-roadmap:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #232740 url(images/Noise.png) repeat;
	border-radius: inherit;
}

.col-block-roadmap + .col-block-roadmap {
	margin: 30px 0 0;
}

.roadmap-title {
	font-size: 32px;
	color: var(--color-primary);
	margin: 0 0 20px;
}

.roadmap-list {
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	color: #fff;
}

.roadmap-list li {
	position: relative;
	padding: 0 0 0 26px;
}

.roadmap-list li:before {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	background: url(images/ArrowRight.svg);
	width: 18px;
	height: 18px;
}

.roadmap-list li + li {
	margin: 8px 0 0
}

.section-footer {
	background: linear-gradient(0deg, rgba(221, 223, 237, .16) 0%, rgba(221, 223, 237, 0) 100%);
	padding: 100px 0 70px;
}

.section-footer:before {
	content: '';
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4992) 18.18%, #fff 80.04%, rgba(255, 255, 255, 0) 100%);
	opacity: .21;
}

.footer-widget-title {
	font-size: 24px;
	line-height: 1.5;
	margin: 0 0 10px;
}

.footer-menu a {
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #a8adc3;
	padding: 7px 0;
}

.footer-menu a:hover {
	color: #fff;
}

.footer-menu li + li {
	margin: 1px 0 0;
}

.footer-social-networks {
	margin: 27px 0 0;
}

.footer-social-networks .inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 -7px;
}

.footer-social-link {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #262d51;
	color: var(--color-primary);
	margin: 7px;
}

.footer-social-link * {
	width: 24px;
	height: 24px;
}

.footer-social-link svg *[fill] {
	fill: currentColor;
}

.footer-social-link:hover {
	color: #020722;
	background: var(--color-primary);
	box-shadow: 0 4px 4px rgba(102, 255, 182, 0.3);
}

.footer-widget-spacer {
	height: 30px;
}

.section-footer .site-branding img {
	width: 220px;
}

.copyright-text {
	margin: 20px 0 0;
	font-size: 15px;
	color: #a8adc3;
}

.section-shape-non-custodial {
	transform: translate(40px, 50%);
}

.section-shape-non-custodial .main-image {
	max-width: 52vw;
}

.block-non-custodial {
	margin: 0 0 170px;
}

.non-custodial-image-bg {
	width: 350%;
	pointer-events: none;
}

.non-custodial-image {
	filter: drop-shadow(0 4px 59px rgba(144, 255, 44, 0.25));
}

.section-non-custodial {
	padding: 0 0 272px;
}

.section-shape-non-custodial {
	right: 0;
	bottom: 0;
}

.section-child-shape-non-custodial-01 {
	right: 19%;
	top: 14%;
}

.section-child-shape-non-custodial-02 {
	bottom: 25%;
	left: 10%;
}

.section-child-shape-non-custodial-03 {
	bottom: 17%;
	right: 15%;
}

.navbar-toggler {
	margin: 0 0 0 10px;
	padding: 0;
	width: 48px;
	height: 48px;
	box-shadow: none !important;
	background: #262d51 !important;
}

.navbar-toggler .navbar-toggler-icon {
	background: var(--color-primary);
	-webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNTUpJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==);
	-webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuNTUpJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1taXRlcmxpbWl0PScxMCcgc3Ryb2tlLXdpZHRoPScyJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==);;
}

.navbar-toggler {
	display: block;
}

.mobile-menu {
	position: absolute;
	top: 100%;
	left: 15px;
	right: 15px;
	background: #1b2039;
	border: 2px solid #82eece;
	box-shadow: 0 4px 34px rgba(130, 238, 206, 0.31);
	border-radius: 10px;
	color: #a39dab;
}

.mobile-menu ul {
	display: flex;
	padding: 13px 0;
	margin-left: -10px;
	margin-right: -10px;
}

.mobile-menu ul li {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 10px;
}

.mobile-menu ul li a:not(.button) {
	/*width: 100%;
	max-width: 100%;
	min-width: 0 !important;*/
	font-size: 16px;
	font-weight: 500;
	color: #a39dab;
	padding: 7px 20px;
}

.mobile-menu .button-wrap {
	padding: 5px 26px 0;
}

.mobile-menu .button {
	color: #fff;
}

.mobile-menu ul li a:not(.button):hover {
	color: #fff;
	background: rgba(0, 0, 0, .2);
}

@media screen and (min-width: 1400px) {
	.hero-title {
		font-size: 100px;
	}
}

@media screen and (min-width: 992px) {
	.navbar-toggler,
	.mobile-menu {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.col-block-roadmap:nth-child(2) {
		margin: 70px 0 0;
	}

	.col-block-roadmap:nth-child(3) {
		margin: 160px 0 0;
	}

	.col-block-roadmap:nth-child(4) {
		margin: 250px 0 0;
	}
}

@media screen and (min-width: 1300px) {
	.primary-menu .nav-link {
		padding: 10px 22px;
	}
}

@media screen and (max-width: 1199px) {
	.header-social-networks {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.primary-menu {
		display: none;
	}

	.section-title {
		font-size: 38px;
	}

	.hero-title {
		font-size: 48px;
	}

	.hero-sub-title {
		font-size: 34px;
	}
}

@media screen and (max-width: 767px) {
	.header .header-inner {
		padding: 10px 0;
	}

	.site-branding img {
		width: 120px;
	}

	.section-title {
		font-size: 32px;
	}

	.section-body {
		margin: 50px 0 0;
	}

	.section-description {
		font-size: 18px;
	}

	.hero-title {
		font-size: 38px;
	}

	.hero-sub-title {
		font-size: 28px;
	}

	.hero-description {
		font-size: 18px;
	}

	.col-hero-text {
		text-align: center;
		margin: 0 0 30px;
	}

	.col-hero-text .text-wrap {
		margin: 0 auto;
	}

	.col-hero-text .hero-description {
		margin: 0 0 20px;
	}

	.section-hero-shape-1 img {
		width: 70px;
	}

	.section-hero {
		padding: 120px 0 80px;
	}

	.roadmap-title {
		font-size: 26px;
	}

	.block-coming-soon .section-header {
		min-height: 0;
		padding: 24px 20px;
	}

	.parachain-block h5 {
		font-size: 32px;
	}

	.section-partners {
		padding: 80px 0 0;
	}

	.section-partners .main-image {
		width: 200px;
	}

	.image-partner-shape-01 {
		top: -50px;
		width: 40px;
	}

	.image-partner-shape-02 {
		bottom: -30px;
		width: 48px;
	}

	.image-partner-shape-03 {
		bottom: -30px;
		right: -40px;
		width: 80px;
	}

	.section-partners .image-group {
		margin: 0 0 40px;
	}

	.col-partners-image {
		text-align: center;
	}

	.section-call-out-action {
		margin: 50px 0 0;
	}

	.section-child-shape-non-custodial-01 {
		width: 74px;
	}

	.section-child-shape-non-custodial-02 {
		width: 51px;
	}

	.section-child-shape-non-custodial-03 {
		width: 88px;
	}

	.section-non-custodial {
		padding: 0 0 120px;
	}

	.section-roadmap {
		padding: 80px 0 90px;
	}

	.section-roadmap .section-body {
		margin: 40px 0 0;
	}

	.block-non-custodial .section-header-beside {
		text-align: center;
		margin: 30px auto 0;
	}

	.block-non-custodial {
		margin: 0 0 60px;
	}

	.section-portfolio-manage {
		padding: 30px 0 100px;
	}

	.section-nft-assets .main-image {
		max-width: 50vw;
	}

	.col-nft-assets-text {
		text-align: center;
		margin: 0 0 35px;
	}

	.nft-assets-image-shape-1 {
		width: 66px;
		left: -50px;
		top: 0;
	}

	.nft-assets-image-shape-2 {
		width: 61px;
		bottom: -30px;
		right: -50px;
	}

	.nft-assets-image-behind {
		transform: translate(-50%, -50%) translateY(-10px);
	}

	.section-send-and-receive {
		padding: 80px 0 0;
	}

	.section-send-and-receive .section-header-beside {
		margin: 0 0 35px;
	}

	.image-send-and-receive-2 {
		margin: 50px 0 0;
	}

	.section-access-verify {
		padding: 80px 0;
	}

	.col-access-verify-image {
		text-align: center;
	}

	.col-access-verify-image .main-image {
		max-width: 50vw;
	}

	.grant-and-access-image-behind {
		top: -30px;
		left: -50px;
	}

	.col-access-verify-text {
		margin: 35px 0 0;
		text-align: center;
	}

	.col-access-verify-text .section-header-beside {
		margin: 0 auto;
	}

	.grant-and-access-shape-01 {
		width: 80px;
		bottom: 2%;
	}

	.section-nft-assets {
		padding: 0 0 80px;
	}

	.block-non-custodial .main-image {
		width: 180px;
	}

	.section-footer .site-branding img {
		width: 180px;
	}

	.footer-widget-title {
		font-size: 21px;
	}

	.section-footer {
		padding: 80px 0 50px;
	}
}

@media screen and (max-width: 575px) {
	.header-button {
		display: none;
	}

	.navbar-toggler {
		width: 40px;
		height: 40px;
	}

	.navbar-toggler-icon {
		width: 20px;
		height: 20px;
	}

	.hero-title {
		font-size: 30px;
	}

	.hero-sub-title {
		font-size: 24px;
	}

	.hero-description {
		font-size: 16px;
	}

	.hero-button.button.button-size-lg {
		--button-image-size: 20px;
		--button-height: 48px;
	}

	.section-title {
		font-size: 24px;
	}

	.slider-controls {
		margin: 25px 0 0;
	}

	.section-description-wrap {
		margin: 10px 0 0;
	}

	.section-description {
		font-size: 16px;
	}

	.section-body {
		margin: 35px 0 0;
	}

	.footer-col-branding {
		order: 9;
	}

	.footer-col-branding .text-center {
		text-align: start !important;
	}

	.footer-social-networks {
		margin: 10px 0 0;
	}

	.footer-social-networks .inner {
		justify-content: flex-start;
	}

	.block-browser img {
		width: 50px;
	}

	.block-browser .button {
		padding: 0 10px;
		min-width: 0;
		width: 140px;
		max-width: 100%;
	}

	.section-try-it-now {
		padding: 60px 0 30px;
	}

	.section-try-it-now .section-body {
		margin: 35px 0 0;
	}

	.section-hero-shape-1 {
		top: 6%;
	}

	.section-partners {
		padding: 10px 0 0;
	}

	.partners-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px 30px;
	}

	.section-portfolio-manage {
		padding: 60px 0 70px;
	}

	.section-call-out-action {
		margin: 40px 0 0;
	}

	.roadmap-title {
		font-size: 20px;
	}

	.parachain-block h5 {
		font-size: 24px;
	}

	.section-partners .main-image {
		width: 150px;
	}

	.image-send-and-receive-2 {
		margin: 20px 0 0;
	}

	.block-non-custodial .main-image {
		width: 134px;
	}

	.block-non-custodial {
		margin: 0 0 40px;
	}

	.nft-assets-image-behind {
		width: 190%;
	}

	.section-footer {
		padding: 60px 0 40px;
	}

	.footer-widget-spacer {
		height: 20px;
	}

	.section-footer .site-branding img {
		width: 140px;
	}

	.footer-widget-title {
		font-size: 18px;
	}

	.footer-menu a {
		font-size: 16px;
		padding: 3px 0;
	}
}
